.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.block-flat {
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  background: #fff;
}

.main {
  background: white;
  padding: 25px 10px;
  margin: 0 0 10px;
}

#tabs {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.27), inset 0px 0px 40px rgba(0, 0, 0, 0.06);
}

header {
  padding-bottom: 20px;
}

img.profile {
  width: 200px;
}

table tr td {
  padding: 12.5px 0;
}

table tr td:first-child {
  color: darken(white, 30%);
}

table tr td:nth-child(2) {
  text-indent: 15px;
}

.dimmed {
  color: $primary-color;
}

.grey {
  color: darken(white, 30%) !important;
}

table tr td a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

@media (max-width: 1000px) {
  img {
    margin: 10px auto !important;
    display: block;
  }

  .main > div:nth-child(2) {
    text-align: center;
  }

  .main > section:not(:first-child) {
    border-top: 1px solid $primary-color;
    padding: 10px 0;
  }

  table {
    width: auto;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 950px;
  }

  .off {
    margin-top: 100px;
  }

  .main > div {
    margin: 20px 0px;
  }
}

aside {
  background: #ededed;
  color: darken(white, 30%);
  margin-top: -16px;
}

aside ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: -40px;
}

aside ul li {
  display: inline-flex;
  order: 1;
  align-items: stretch;
  align-content: space-around;
  padding: 10px 5px;
  width: 25%;
  text-align: center;
  display: block;
  margin: 0 auto;
  &.active {
    color: $primary-color;
  }
}

@media (max-width: 500px){
  aside ul li {
    width: auto;
  }
}

aside ul li a {
  color: inherit;
  text-decoration: none;
}

aside ul li a:hover {
  color: $primary-color;
}

.social {
  color: black;
  text-decoration: none;
}

.social > a {
  padding: 0 5px;
  color: black;
  text-decoration: none;
}

.item {
  margin: 15px 0 30px;
}

.item a {
  text-decoration: none;
  color: $primary-color;
}

.item a:hover {
  text-decoration: underline;
}

.item .item-title {
  color: $primary-color;
  font-family: $headings;
  font-weight: bold;
}

.item .item-title > small {
  text-align: right;
  float: right;
}

.item .title {
  color: darken(white, 30%);
  font-family: $headings;
  font-style: italic;
}

.rating {
  color: $primary-color;
  float: right;
}

.skill {
  margin: 10px 0;
}

.item:after {
  content: "";
  display: table;
  border-bottom: 1px solid darken(white, 10%);
  width: 100%;
}

.back a {
  color: white;
}

.back a:hover {
  text-decoration: underline;
}

.card {
  perspective: 1000;
  transform-style: preserve-3d;
  margin: 10px 0;
}

.card:hover .back {
  transform: rotateY(0deg);
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card, .front, .back {
  width: 100%;
  height: 230px;
}

.card_inner {
  transition: .5s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
  padding: 10px;
  color: white;
  text-align: center;
  background-color: $primary-color;
}

.input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 15px;
  background: darken(white, 33%);
  opacity: .88;
  color: white;
  border: 2px solid transparent;
  width: 100%;
  margin: 10px;
}

.input:focus {
  border: 2px solid $primary-color;
}

.submit {
  background: $primary-color;
  color: white;
  padding: 5px 15px;
  margin: 10px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: normal;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0px;
  box-shadow: none;
  text-decoration: none;
}

.error {
  background: $error-color;
}

.success {
  background: $success-color;
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

.customa {
  color: inherit;
  &:hover {
    color: $primary-color;
  }
}

footer {
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: darken(white, 30%) !important;
  a {
    color: darken(white, 30%) !important;
    &:hover {
      color: $primary-color !important;
    }
  }
}