.help-block{
  color: #666 !important;
}

.hr{
  margin: 20px 0 10px;
  border-bottom: 1px solid #ccc;
}

h1,h2,h3,h4,h5,h6{
  font-family: $headings;
}

.heading{
  font-family: $headings;
}

h1, .h1{
  font-size: $font-size-h1;
}

h2, .h2{
  font-size: $font-size-h2;
}

h3, .h3{
  font-size: $font-size-h3;
}

h4, .h5{
  font-size: $font-size-h4;
}

h5, .h5{
  font-size: $font-size-h5;
}

h6, .h6{
  font-size: $font-size-h6;
}

.page-header{
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eee;
}

.clear-fix{
  clear: both;
  content: " ";
  display: table;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.pointer{
  cursor: pointer;
}

.text-uppercase{
  text-transform: uppercase;
}