@charset "UTF-8";

@font-face {
  font-family: "me";
  src:url("../fonts/me.eot");
  src:url("../fonts/me.eot?#iefix") format("embedded-opentype"),
  url("../fonts/me.woff") format("woff"),
  url("../fonts/me.ttf") format("truetype"),
  url("../fonts/me.svg#me") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "me" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "me" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -13%;
}

.icon-graph-bar:before {
  content: "\61";
}
.icon-man-people-streamline-user:before {
  content: "\62";
}
.icon-male-rounded-1:before {
  content: "\63";
}
.icon-user:before {
  content: "\64";
}
.icon-user-outline:before {
  content: "\65";
}
.icon-user-1:before {
  content: "\66";
}
.icon-browser-full:before {
  content: "\67";
}
.icon-card-user-2:before {
  content: "\68";
}
.icon-chart-graph-file-1:before {
  content: "\69";
}
.icon-briefcase:before {
  content: "\6a";
}
.icon-briefcase-1:before {
  content: "\6b";
}
.icon-bag:before {
  content: "\6c";
}
.icon-at-email:before {
  content: "\6d";
}
.icon-at:before {
  content: "\6e";
}
.icon-study:before {
  content: "\6f";
}
.icon-graduation-cap:before {
  content: "\70";
}
.icon-college:before {
  content: "\71";
}
.icon-commercial:before {
  content: "\72";
}
.icon-building:before {
  content: "\73";
}
.icon-file-pdf:before {
  content: "\74";
}
.icon-file-text:before {
  content: "\75";
}
.icon-file-code:before {
  content: "\76";
}
.icon-file-text-1:before {
  content: "\77";
}
.icon-facebook:before {
  content: "\78";
}
.icon-social-twitter:before {
  content: "\79";
}
.icon-linkedin:before {
  content: "\7a";
}
.icon-fontawesome-webfont:before {
  content: "\41";
}
.icon-github-circled-alt2:before {
  content: "\42";
}
.icon-bitbucket:before {
  content: "\43";
}
.icon-code:before {
  content: "\44";
}
.icon-code-1:before {
  content: "\45";
}
.icon-photo:before {
  content: "\46";
}
.icon-prize-award:before {
  content: "\47";
}
.icon-star-two:before {
  content: "\48";
}
.icon-star:before {
  content: "\49";
}
.icon-star-half:before {
  content: "\4a";
}
.icon-tools:before {
  content: "\4b";
}
.icon-arrow-1-right:before {
  content: "\4c";
}
.icon-angle-right:before {
  content: "\4d";
}
.icon-check:before {
  content: "\4e";
}
.icon-spin-alt:before {
  content: "\4f";
}
.icon-spinner:before {
  content: "\50";
}
.icon-spinner-1:before {
  content: "\51";
}
.icon-x:before {
  content: "\52";
}
.icon-cross-mark:before {
  content: "\53";
}
.icon-clock:before {
  content: "\54";
}
.icon-book:before {
  content: "\55";
}
.icon-ios-film-outline:before {
  content: "\56";
}
.icon-music:before {
  content: "\57";
}
.icon-quote:before {
  content: "\58";
}


.icon-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.icon-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-2x{
  font-size: 2em;
}