// Font Import
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/u8HSyiSSzbmPRVNA5BNhqA.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xICtgNwyJYHzDAjKtI5LRRA.woff) format('woff');
}

// Font Families
$body: 'Arimo', sans-serif;
$headings: 'Open Sans Condensed', sans-serif;

// Colors
$primary-color: #2196f3;
$secondary-color: white;
$success-color: #5cb85c;
$error-color: #d9534f;
$warning-color: #f0ad4e;
$info-color: #5bc0de;
$action-color: #428bca;

// Font sizes
$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.25));
$font-size-small:         ceil(($font-size-base * 0.85));

$font-size-h1:            2em;
$font-size-h2:            1.8em;
$font-size-h3:            ceil(($font-size-base * 1.5));
$font-size-h4:            ceil(($font-size-base * 1.25));
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85));